:root {
    --grid-cols: 4;
}

.tablero{
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 7em);
    grid-gap: 1em;
    margin: 5em;
}

.ficha{
    border: solid 0.4em;
    border-color: rgb(20, 4, 245);
    border-radius: 100%;
    height: 80px;
    width: 80px
}

.ficha:hover{
    border-color: rgb(56, 143, 53);
    transition: 0.3s;
}

.btn-ficha{
    background: transparent;
    border: 0em;
}