:root {
    --grid-cols: 4;
}

.tablero{
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 7em);
    grid-gap: 1em;
    margin: 5em;
}

.ficha{
    height: 90px;
    width: 90px;
    border: solid 0.3em;
    border-radius: 100%;
    border-color: rgb(65, 161, 206);
}

.ficha-voltear{
    transition: transform 0.6s;
}

.ficha-accion{
    transform: rotateY(360deg);
}

.ficha-imagen{
    height: 90px;
    width: 90px;
}

.ficha-imagen:hover{
    transition: 0.3s;
    filter: grayscale(20%);
}